<html>
<body>

<table style="width:100%">
    <tr>
        <th>Stasjon</th>
        <th>Ledig</th>
        <th>Kapasitet</th>
    </tr>
    {{range .data}}
    <tr>
        <td><a href="map/{{.Id}}">{{.Name}}</a></td>
        <td>{{.Available}}</td>
        <td>{{.Capacity}}</td>
    </tr>
    {{end}}
</table>

{{range .data}}
<p>{{.Name}}</p>
{{end}}
</body>
</html>